{% extends"upper.html" %}
{% block content %}
<main class="mb-4">
    <div class="container">
      <div class="row">
        <!-- Adding Flash message here for users trying to register twice -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="flash">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="col-lg-8 col-md-10 mx-auto">
          <!--Rendering login form here-->
          <form method="POST" novalidate>
            {{ loginform.hidden_tag() }}
            
            <!-- Email Field -->
            <div class="mb-3">
                {{ loginform.email.label(class="form-label") }}
                {{ loginform.email(class="form-control") }}
                {% for error in loginform.email.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            
            <!-- Password Field -->
            <div class="mb-3">
                {{ loginform.password.label(class="form-label") }}
                {{ loginform.password(class="form-control") }}
                {% for error in loginform.password.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            
            <!-- Submit Button -->
            <div class="d-grid">
                {{ loginform.submit(class="btn btn-primary") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}  
  

