{% extends"upper.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
  <p class="flash">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('registration') }}" >
  {{ regs.hidden_tag() }}
  
  <div class="mb-3">
      {{ regs.name.label(class="form-label") }}
      {{ regs.name(class="form-control") }}
      {% for error in regs.name.errors %}
          <div class="text-danger">{{ error }}</div>
      {% endfor %}
  </div>

  <div class="mb-3">
      {{ regs.email.label(class="form-label") }}
      {{ regs.email(class="form-control") }}
      {% for error in regs.email.errors %}
          <div class="text-danger">{{ error }}</div>
      {% endfor %}
  </div>

  <div class="mb-3">
    {{ regs.password.label(class="form-label") }}
    {{ regs.password(class="form-control", type="password") }}
    {% for error in regs.password.errors %}
        <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>

  <div class="d-grid">
    {{ regs.submit(class="btn btn-primary") }}
  </div>

</form>
{% endblock %}  
